#logoimages{
    display:inline-block;
    flex-direction: column;
    height: 50px;
    width:auto;
}
#footer_images{
    height: 40px;
    width: auto;
    display:inline-block;
    justify-content: center;
    align-items: center;
}
#profile{
    height: 400px;
    width: auto;
    align-items: center;
    left:200px;
    margin-left: 300px;
    position: relative; 
}