html{

    scroll-margin: none;
    background-color: #000;
    color: aliceblue;
    background-image: url("/resources/images/coralreefback.jpg");
    background-size: cover;
    background-position: fixed;
    display:flex;
    align-items: center;
}
/*services.html*/
.services{
    color:black !important;
    opacity:none !important ;
    font-size: larger !important;
}
