#footer /*affects the general footers in all the pages */{
    background-color: #00008b;
    width: 100vw;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    bottom: 0%; 
    position: fixed;
}
/*about.html*/
#skills_container{
    display: block;
}
#skills_list >li{
    list-style-type: style;
    display: flex;
    flex-direction: column;
}
/*contact.html*/
#text_area{
    height:20px;
    width:400px;
    mix-blend-mode: lighten;
    opacity:0.3;
    background-color: aliceblue;
    color:aliceblue;
}
#text_area_input{
    opacity:0.5;
    color:black;
    border: none;
}
/*service.html*/
#services_container{
    height: 400px;
    width:600px;
    background-color: aliceblue;
    border-radius: 20px;
    opacity:0.15;
    display: flex;
    align-items: center;
    right:200px;
    margin-left:200px;
    margin-top: 150px;
}
/*index.html*/

