#logoimages{
    display:inline-block;
    flex-direction: column;
    height: 50px;
    width:auto;
}
#footer_images{
    height: 40px;
    width: auto;
}
#footer{
    background-color: #00008b;
    width: 100vw;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    bottom: 0%; 
    position: fixed;
}